<%- include('./partials/headerMain.ejs')%>
<body>
    <h1>Les ventes de voitures par année</h1>
    <div class="wiki">
       <%- include('partials/ventes2021.ejs') %> 
       <%- include('partials/ventes2022.ejs') %> 

    </div>
    
</body>
</html>